Repository ninetailed-inc/experience.js, changes with the owners that CODEOWNERS names for each.
All owners: @BraunreutherA, @maxrawlinger, @maroun9t, @Lp-Francois

refactor: update commits
  packages/plugins/insights/src/lib/event/build-component-view-event.ts
  packages/plugins/insights/src/lib/types/Event/ComponentViewEvent.ts
  packages/sdks/react/src/lib/Experience/useExperienceSelectionMiddleware.spec.ts
  packages/sdks/react/src/lib/Experience/useExperienceSelectionMiddleware.ts
  packages/sdks/react/src/lib/MergeTag/MergeTag.spec.tsx
  packages/sdks/react/src/lib/MergeTag/MergeTag.tsx
  packages/sdks/react/src/lib/MergeTag/helpers.spec.ts
  packages/sdks/react/src/lib/MergeTag/helpers.ts
  packages/sdks/react/src/lib/MergeTag/index.ts
Owners: @maroun9t, @BraunreutherA

refactor: update commits
  packages/plugins/insights/src/lib/event/build-component-view-event.ts
  packages/plugins/insights/src/lib/types/Event/ComponentViewEvent.ts
  packages/sdks/javascript/src/lib/types/ElementSeenPayload.ts
  packages/sdks/javascript/src/lib/types/EventHandler.ts
  packages/sdks/javascript/src/lib/types/NinetailedPlugin.ts
  packages/sdks/javascript/src/lib/types/TrackingProperties.ts
  packages/sdks/react/src/lib/Experience/useExperienceSelectionMiddleware.spec.ts
  packages/sdks/react/src/lib/Experience/useExperienceSelectionMiddleware.ts
  packages/sdks/react/src/lib/MergeTag/MergeTag.spec.tsx
  packages/sdks/react/src/lib/MergeTag/MergeTag.tsx
  packages/sdks/react/src/lib/MergeTag/helpers.spec.ts
  packages/sdks/react/src/lib/MergeTag/helpers.ts
  packages/sdks/react/src/lib/MergeTag/index.ts
Owners: @maroun9t, @BraunreutherA

chore: merge 7.6.x into this branch
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/sdks/react/src/lib/MergeTag/MergeTag.spec.tsx
  packages/sdks/react/src/lib/MergeTag/MergeTag.tsx
  packages/sdks/react/src/lib/MergeTag/helpers.spec.ts
  packages/sdks/react/src/lib/MergeTag/helpers.ts
  packages/sdks/react/src/lib/MergeTag/index.ts
  packages/tests/javascript-integration/src/lib/analytics-pipeline.spec.ts
Owners: @BraunreutherA, @maroun9t

fix: linting
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.spec.ts
Owners: @BraunreutherA

fix: change case to upper
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/Events/build-context.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/Events/build-locale.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/Events/index.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/constants.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/index.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/ninetailedCorePlugin.ts
Owners: @maroun9t, @BraunreutherA

fix: change case to upper
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
Owners: @maroun9t, @BraunreutherA

fix(node): fix nx upgrade breaking @nx/node with @nx/webpack:webpack
  packages/playgrounds/node/project.json
Owners: @BraunreutherA

fix: work on gatsby breaking with error
  package.json
  packages/playgrounds/gatsby/.babelrc
  packages/playgrounds/gatsby/gatsby-config.js
  packages/playgrounds/gatsby/project.json
  yarn.lock
Owners: @BraunreutherA

fix: fix breaking type for useNinetailed react hook
  packages/sdks/react/src/lib/useNinetailed.ts
Owners: @maroun9t, @BraunreutherA

ci: prepare bump and publish from the CI
  .github/workflows/publish.yaml
  package.json
  tools/bump_and_publish_sdks.sh
Owners: @Lp-Francois, @BraunreutherA

fix: fix unbound variable error and do not use nx affected in publish workflow
  .github/workflows/publish.yaml
  tools/bump_and_publish_sdks.sh
Owners: @Lp-Francois, @BraunreutherA

ci: fix wrong .npmrc path to publish to npm
  tools/bump_and_publish_sdks.sh
Owners: @BraunreutherA

ci: fix wrong .npmrc config
  .github/workflows/publish.yaml
  tools/bump_and_publish_sdks.sh
Owners: @Lp-Francois, @BraunreutherA

ci: give correct permissions for provenance
  .github/workflows/publish.yaml
Owners: @Lp-Francois

fix: remove publish:packages from yarn script
  package.json
Owners: @BraunreutherA

ci: add repository field to all package.json
  packages/plugins/analytics/package.json
  packages/plugins/contentsquare/package.json
  packages/plugins/google-analytics/package.json
  packages/plugins/google-tagmanager/package.json
  packages/plugins/insights/package.json
  packages/plugins/preview-bridge/package.json
  packages/plugins/preview/package.json
  packages/plugins/privacy/package.json
  packages/plugins/segment/package.json
  packages/plugins/ssr/package.json
  packages/sdks/gatsby/package.json
  packages/sdks/javascript/package.json
  packages/sdks/nextjs-esr/package.json
  packages/sdks/nextjs/package.json
  packages/sdks/nodejs/package.json
  packages/sdks/react/package.json
  packages/sdks/shared/package.json
  packages/utils/contentful/package.json
  packages/utils/javascript/package.json
Owners: @BraunreutherA, @maroun9t, @maxrawlinger

chore: add a check to skip provenance flag when publishing if the repository field is missing from the package.json
  tools/bump_and_publish_sdks.sh
Owners: @BraunreutherA

chore: upgrade to nx 16.2.2
  migrations.json
  package.json
  yarn.lock
Owners: @BraunreutherA

chore: upgrade to nx 16.3.2
  migrations.json
  package.json
  packages/playgrounds/easy-hr/project.json
  packages/playgrounds/next-js/project.json
  yarn.lock
Owners: @BraunreutherA

chore: upgrade to nx 16.4.3
  migrations.json
  package.json
  yarn.lock
Owners: @BraunreutherA

chore: upgrade to nx 16.5.5
  migrations.json
  package.json
  yarn.lock
Owners: @BraunreutherA

chore: add keywords to package.json
  packages/plugins/analytics/package.json
  packages/plugins/google-analytics/package.json
  packages/plugins/google-tagmanager/package.json
  packages/plugins/insights/package.json
  packages/plugins/preview-bridge/package.json
  packages/plugins/preview/package.json
  packages/plugins/privacy/package.json
  packages/plugins/segment/package.json
  packages/plugins/ssr/package.json
  packages/sdks/nextjs-esr/package.json
  packages/sdks/nextjs/package.json
  packages/sdks/nodejs/package.json
  packages/sdks/react/package.json
  packages/utils/contentful/package.json
Owners: @BraunreutherA, @maroun9t, @maxrawlinger

chore: upgrade to nx 16.6.0
  migrations.json
  package.json
  packages/playgrounds/gatsby/project.json
  packages/playgrounds/next-js/project.json
  packages/playgrounds/node/project.json
  packages/plugins/analytics/project.json
  packages/plugins/contentsquare/project.json
  packages/plugins/google-analytics/project.json
  packages/plugins/google-tagmanager/project.json
  packages/plugins/insights/project.json
  packages/plugins/preview-bridge/project.json
  packages/plugins/preview/project.json
  packages/plugins/privacy/project.json
  packages/plugins/segment/project.json
  packages/plugins/ssr/project.json
  packages/sdks/gatsby/project.json
  packages/sdks/javascript/project.json
  packages/sdks/nextjs-esr/project.json
  packages/sdks/nextjs/project.json
  packages/sdks/nodejs/project.json
  packages/sdks/react/project.json
  packages/sdks/shared/project.json
  packages/utils/contentful/project.json
  packages/utils/javascript/project.json
  yarn.lock
Owners: @BraunreutherA, @maroun9t, @maxrawlinger

refactor: rename root package.json to @ninetailed/root
  nx.json
  package.json
Owners: @BraunreutherA

refactor: remove deprecated cli.defaultCollection field
  nx.json
Owners: @BraunreutherA

refactor: remove deprecated defaultProject n nx.json
  nx.json
Owners: @BraunreutherA

fix: remove warning by switching to eslint rule @nx/dependency-checks
  packages/sdks/shared/.eslintrc.json
  packages/sdks/shared/package.json
  packages/sdks/shared/project.json
Owners: @maroun9t, @BraunreutherA

chore(shared): add project.json to lintFilePatterns
  packages/sdks/shared/project.json
Owners: @maroun9t, @BraunreutherA

fix(shared): remove updateBuildableProjectDepsInPackageJson warning
  packages/sdks/shared/.eslintrc.json
  packages/sdks/shared/project.json
Owners: @maroun9t, @BraunreutherA

chore(shared): set preventAssignment to true in rollup config
  packages/sdks/shared/rollup.config.js
Owners: @maroun9t, @BraunreutherA

fix(shared): linting error
  packages/sdks/shared/.babelrc
Owners: @maroun9t, @BraunreutherA

refactor(plugin-analytics): add @nx/dependency-checks eslint rule
  packages/plugins/analytics/.eslintrc.json
  packages/plugins/analytics/package.json
  packages/plugins/analytics/project.json
Owners: @BraunreutherA

refactor: add @nx/dependency-checks eslint rule to all projects
  packages/plugins/contentsquare/.eslintrc.json
  packages/plugins/contentsquare/project.json
  packages/plugins/google-analytics/.eslintrc.json
  packages/plugins/google-analytics/project.json
  packages/plugins/google-tagmanager/.eslintrc.json
  packages/plugins/google-tagmanager/project.json
  packages/plugins/insights/.eslintrc.json
  packages/plugins/insights/project.json
  packages/plugins/preview-bridge/.eslintrc.json
  packages/plugins/preview-bridge/project.json
  packages/plugins/preview/.eslintrc.json
  packages/plugins/preview/project.json
  packages/plugins/privacy/.eslintrc.json
  packages/plugins/privacy/project.json
  packages/plugins/segment/.eslintrc.json
  packages/plugins/segment/project.json
  packages/plugins/ssr/.eslintrc.json
  packages/plugins/ssr/project.json
  packages/sdks/gatsby/.eslintrc.json
  packages/sdks/gatsby/project.json
  packages/sdks/javascript/.eslintrc.json
  packages/sdks/javascript/project.json
  packages/sdks/nextjs-esr/.eslintrc.json
  packages/sdks/nextjs-esr/project.json
  packages/sdks/nextjs/.eslintrc.json
  packages/sdks/nextjs/project.json
  packages/sdks/nodejs/.eslintrc.json
  packages/sdks/nodejs/project.json
  packages/sdks/react/.eslintrc.json
  packages/sdks/react/project.json
  packages/utils/contentful/.eslintrc.json
  packages/utils/contentful/project.json
  packages/utils/javascript/.eslintrc.json
  packages/utils/javascript/project.json
Owners: @BraunreutherA, @maroun9t, @maxrawlinger

feat make plugin componentTracking thresholds a getter func
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/guards/hasComponentViewTrackingThreshold.ts
  packages/sdks/javascript/src/lib/types/interfaces/HasComponentViewTrackingThreshold.ts
Owners: @maroun9t, @BraunreutherA

fix: incorrect nx --fix for sdk-javascript
  packages/sdks/javascript/.eslintrc.json
  packages/sdks/javascript/package.json
Owners: @maroun9t, @BraunreutherA

fix: incorrect nx --fix for sdk-react
  packages/sdks/react/.eslintrc.json
  packages/sdks/react/package.json
Owners: @maroun9t, @BraunreutherA

fix: incorrect nx --fix for rest of packages
  packages/plugins/analytics/.eslintrc.json
  packages/plugins/contentsquare/.eslintrc.json
  packages/plugins/contentsquare/package.json
  packages/plugins/google-analytics/.eslintrc.json
  packages/plugins/google-analytics/package.json
  packages/plugins/google-tagmanager/.eslintrc.json
  packages/plugins/google-tagmanager/package.json
  packages/plugins/insights/.eslintrc.json
  packages/plugins/insights/package.json
  packages/plugins/preview-bridge/.eslintrc.json
  packages/plugins/preview-bridge/package.json
  packages/plugins/preview/.eslintrc.json
  packages/plugins/preview/package.json
  packages/plugins/privacy/.eslintrc.json
  packages/plugins/privacy/package.json
  packages/plugins/segment/.eslintrc.json
  packages/plugins/segment/package.json
  packages/plugins/ssr/.eslintrc.json
  packages/plugins/ssr/package.json
  packages/sdks/gatsby/.eslintrc.json
  packages/sdks/gatsby/package.json
  packages/sdks/nextjs-esr/.eslintrc.json
  packages/sdks/nextjs-esr/package.json
  packages/sdks/nextjs/.eslintrc.json
  packages/sdks/nextjs/package.json
  packages/sdks/nodejs/.eslintrc.json
  packages/sdks/nodejs/package.json
  packages/sdks/shared/.eslintrc.json
  packages/utils/contentful/.eslintrc.json
  packages/utils/contentful/package.json
  packages/utils/javascript/.eslintrc.json
  packages/utils/javascript/package.json
Owners: @BraunreutherA, @maroun9t, @maxrawlinger

fix: fix Missing semicolon type error by addind @nxreact/babel preset
  packages/sdks/nextjs-esr/.babelrc
  packages/sdks/shared/.babelrc
Owners: @BraunreutherA, @maroun9t

fix: fix error Support for the experimental syntax 'flow' isn't currently enabled on utils-javascript
  packages/utils/javascript/.babelrc
Owners: @BraunreutherA

fix: fix error Support for the experimental syntax 'flow' isn't currently enabled on utils-contentful
  packages/utils/contentful/.babelrc
Owners: @BraunreutherA

CODEOWNERS:

# How the CODEOWNERS file works:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @BraunreutherA

# Plugins
/packages/plugins/preview-*/    @maxrawlinger
/packages/plugins/insights/     @maroun9t

# SDKs
/packages/sdks/nodejs/          @maxrawlinger @BraunreutherA
/packages/sdks/gatsby/          @maxrawlinger
/packages/sdks/react/           @maroun9t @BraunreutherA
/packages/sdks/nextjs/          @maroun9t
/packages/sdks/javascript/      @maroun9t @BraunreutherA
/packages/sdks/shared/          @maroun9t @BraunreutherA

# github actions
*.yaml                          @Lp-Francois
