Repository ninetailed-inc/experience.js, changes with the owners that CODEOWNERS names for each.
All owners: @BraunreutherA, @maxrawlinger, @maroun9t, @Lp-Francois

Update packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

fix: consent is not async
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

fix: don't use hard coded versions in exports
  packages/plugins/google-tagmanager/package.json
  packages/plugins/privacy/package.json
  packages/tests/generated-packages/src/lib/__snapshots__/generated-package-json.spec.ts.snap
Owners: @BraunreutherA

fix: correctly use the Ninetailed core plugin name to intercept events
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

fix test
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.spec.ts
Owners: @BraunreutherA

fix: make event interceptor name const
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

chore: remove console.log
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

feat: move package version env var into lib
  packages/sdks/shared/rollup.config.cjs
  withPackageVersion.js
Owners: @maroun9t, @BraunreutherA

feat: add custom rollup config to preview plugin
  packages/plugins/preview/project.json
  packages/plugins/preview/rollup.config.cjs
Owners: @BraunreutherA

feat: improve logger
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @maroun9t, @BraunreutherA

feat: add the listener before the privacy event gets fired.
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/constants.ts
Owners: @maroun9t, @BraunreutherA

fix: deduplicate constant
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/constants.ts
  packages/sdks/shared/src/lib/constants.ts
Owners: @BraunreutherA, @maroun9t

fix: move constant to js implementation
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.spec.ts
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/constants.ts
  packages/sdks/shared/src/lib/constants.ts
Owners: @BraunreutherA, @maroun9t

feat: default the input variants correctly for experiences
  packages/utils/javascript/src/types/Experience.spec.ts
  packages/utils/javascript/src/types/Experience.ts
Owners: @BraunreutherA

feat: add more tests and make sure, the variants are validated
  packages/utils/javascript/src/lib/ExperienceMapper.spec.ts
  packages/utils/javascript/src/types/Experience.spec.ts
  packages/utils/javascript/src/types/Experience.ts
Owners: @BraunreutherA

feat: test and fix Experiment Schema
  packages/utils/javascript/src/types/Experiement.spec.ts
  packages/utils/javascript/src/types/Experiment.ts
Owners: @BraunreutherA

feat: Add some more tests for contentful mapper
  packages/utils/contentful/src/types/ExperienceEntry.spec.ts
Owners: @BraunreutherA

feat: insights plugin to receive bound eventBuilder
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
  packages/sdks/javascript/src/index.ts
Owners: @maroun9t, @BraunreutherA

feat: use interface for injecting event builder
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
  packages/sdks/javascript/src/index.ts
  packages/sdks/javascript/src/lib/types/interfaces/RequiresEventBuilder.ts
Owners: @maroun9t, @BraunreutherA

feat: inject event builder into plugin
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/guards/requiresEventBuilder.ts
Owners: @maroun9t, @BraunreutherA

remove uuid from package as it's not needed anymore
  packages/plugins/insights/package.json
Owners: @maroun9t

fix tests
  packages/plugins/insights/package.json
  packages/tests/generated-packages/src/lib/__snapshots__/generated-package-json.spec.ts.snap
Owners: @maroun9t, @BraunreutherA

fix: Attach a non-async track method to window
  packages/playgrounds/easy-hr/pages/_app.tsx
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @BraunreutherA, @maroun9t

feat: Limit preview plugin to one instance
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/plugins/preview/src/lib/plugin/WidgetContainer.ts
  packages/sdks/javascript/src/lib/experience/makeExperienceSelectMiddleware.ts
  packages/sdks/javascript/src/lib/types/interfaces/HasExperienceSelectionMiddleware.ts
Owners: @BraunreutherA, @maroun9t

Attach a non-async identify method
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @maroun9t, @BraunreutherA

Attach a non-async page method
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @maroun9t, @BraunreutherA

Update LICENSE
  LICENSE
Owners: @BraunreutherA

feat: keep the sticky flag in selectedVariant information
  packages/sdks/shared/src/lib/types/SelectedVariantInfo/SelectedVariantInfo.ts
Owners: @maroun9t, @BraunreutherA

feat: overwrite sticky flag with experience api information
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @maroun9t, @BraunreutherA

chore: export NinetailedInsightsApiClient from @ninetailed/experience.js-plugin-insights
  packages/plugins/insights/src/index.ts
Owners: @maroun9t

chore: export type ComponentViewEventBatch from plugin-insights
  packages/plugins/insights/src/index.ts
Owners: @maroun9t

fix: turn abortNonClientEvents into a static method
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
Owners: @maroun9t, @BraunreutherA

feat: dispatch profile change, when event sending gets blocked.
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

fix: don't overwrite the given timestamp in event builder
  packages/sdks/javascript/src/lib/utils/EventBuilder.ts
Owners: @maroun9t, @BraunreutherA

feat: notify about rejected track event
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

chore: remove unused queue
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

refactor: move Storage type into own type file
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/types/Storage.ts
  packages/sdks/javascript/src/lib/types/index.ts
Owners: @maroun9t, @BraunreutherA

refactor: move profile state handling into a state Manager
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/ProfileStateManager.ts
  packages/sdks/javascript/src/lib/types/ProfileChangedPayload.ts
Owners: @maroun9t, @BraunreutherA

WIP: break loading by handling abort as error
  packages/playgrounds/easy-hr/pages/_app.tsx
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/ProfileStateManager.ts
Owners: @BraunreutherA, @maroun9t

fix: stop abort errors from bubbling up for insights API calls
  packages/plugins/insights/src/lib/api/NinetailedInsightsApiClient.ts
Owners: @maroun9t

CODEOWNERS:

# How the CODEOWNERS file works:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @BraunreutherA

# Plugins
/packages/plugins/preview-*/    @maxrawlinger
/packages/plugins/insights/     @maroun9t

# SDKs
/packages/sdks/nodejs/          @maxrawlinger @BraunreutherA
/packages/sdks/gatsby/          @maxrawlinger
/packages/sdks/react/           @maroun9t @BraunreutherA
/packages/sdks/nextjs/          @maroun9t
/packages/sdks/javascript/      @maroun9t @BraunreutherA
/packages/sdks/shared/          @maroun9t @BraunreutherA

# github actions
*.yaml                          @Lp-Francois
