Repository ninetailed-inc/experience.js, changes with the owners that CODEOWNERS names for each.
All owners: @BraunreutherA, @maxrawlinger, @maroun9t, @Lp-Francois

CODEOWNERS:

# How the CODEOWNERS file works:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @BraunreutherA

# Plugins
/packages/plugins/preview-*/    @maxrawlinger
/packages/plugins/insights/     @maroun9t

# SDKs
/packages/sdks/nodejs/          @maxrawlinger @BraunreutherA
/packages/sdks/gatsby/          @maxrawlinger
/packages/sdks/react/           @maroun9t @BraunreutherA
/packages/sdks/nextjs/          @maroun9t
/packages/sdks/javascript/      @maroun9t @BraunreutherA
/packages/sdks/shared/          @maroun9t @BraunreutherA

# github actions
*.yaml                          @Lp-Francois

feat: update ExperienceDefinition types and modify selectBaselineWithVariants for EntryReplacement support
  packages/sdks/shared/src/lib/types/ExperienceDefinition/index.ts
  packages/sdks/shared/src/lib/utils/experiences/selectBaselineWithVariants.ts
Owners: @maroun9t, @BraunreutherA

feat: add EntryReplacement and InlineVariable types to experience definitions and update related components for consistency
  packages/sdks/javascript/src/lib/experience/types/index.ts
  packages/sdks/react/src/lib/Experience/ESRLoadingComponent.tsx
  packages/sdks/react/src/lib/Experience/types/BaselineWithVariants.ts
  packages/sdks/react/src/lib/Experience/useExperience.spec.tsx
Owners: @maroun9t, @BraunreutherA

feat: enhance ExperienceMapper to handle EntryReplacement and InlineVariable components with updated schemas and type checks
  packages/utils/contentful/src/lib/__test__/ExperienceMapper.spec.ts
  packages/utils/contentful/src/lib/__test__/__snapshots__/ExperienceMapper.spec.ts.snap
  packages/utils/contentful/src/types/__snapshots__/ExperienceEntry.spec.ts.snap
  packages/utils/javascript/src/lib/ExperienceMapper.spec.ts
  packages/utils/javascript/src/lib/ExperienceMapper.ts
  packages/utils/javascript/src/types/Config.ts
Owners: @BraunreutherA

feat: update NinetailedPreviewPlugin to handle entry replacements while searching for baseline components in experience data
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
Owners: @BraunreutherA

test: increase sleep duration in useExperience tests for improved timing accuracy
  packages/sdks/react/src/lib/Experience/useExperience.spec.tsx
Owners: @maroun9t, @BraunreutherA

fix: increase sleep duration in useExperience tests to resolve CI failures
  packages/sdks/react/src/lib/Experience/useExperience.spec.tsx
Owners: @maroun9t, @BraunreutherA

test: fix ExperienceMapper spec to check variant id presence correctly with strict equality check
  packages/utils/contentful/src/lib/__test__/ExperienceMapper.spec.ts
Owners: @BraunreutherA

feat: enhance ExperienceMapper to directly return inline variable components without transformation
  packages/utils/javascript/src/lib/ExperienceMapper.ts
Owners: @BraunreutherA

fix: simplify return logic in ExperienceMapper and improve error handling for unsupported component types
  packages/utils/javascript/src/lib/ExperienceMapper.ts
Owners: @BraunreutherA

refactor: improve component lookup logic in ESRLoadingComponent for better clarity and handling of baseline id checks
  packages/sdks/react/src/lib/Experience/ESRLoadingComponent.tsx
Owners: @maroun9t, @BraunreutherA

fix: adjust sleep duration in useExperience tests to prevent CI failures
  packages/sdks/react/src/lib/Experience/useExperience.spec.tsx
Owners: @maroun9t, @BraunreutherA

feat: implement variable overrides in NinetailedPreviewPlugin for dynamic experience changes handling
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
Owners: @BraunreutherA

refactor: optimize change handling in NinetailedPreviewPlugin by computing overrides on demand instead of storing them
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
Owners: @BraunreutherA

feat: add Variable component for dynamic flag rendering in easy-hr playground pages
  packages/playgrounds/easy-hr/components/Variable/Variable.tsx
  packages/playgrounds/easy-hr/pages/[[...slug]].tsx
Owners: @BraunreutherA

feat: return the validate variant index and clean up unused variable reset functions in NinetailedPreviewPlugin
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
Owners: @BraunreutherA

Revert "feat: return the validate variant index and clean up unused variable reset functions in NinetailedPreviewPlugin"
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
Owners: @BraunreutherA

feat: variant index in NinetailedPreviewPlugin and remove unused variable reset methods
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
Owners: @BraunreutherA

fix: remove linting errors
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.ts
  packages/plugins/analytics/src/lib/NinetailedPlugin.ts
  packages/plugins/google-tagmanager/src/NinetailedGoogleTagmanagerPlugin.spec.ts
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
  packages/sdks/gatsby/gatsby-browser.tsx
  packages/sdks/gatsby/gatsby-ssr.tsx
  packages/sdks/gatsby/src/lib/Tracker/Tracker.tsx
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/experience/makeExperienceSelectMiddleware.spec.ts
  packages/sdks/javascript/src/lib/plugins/selectPluginsHavingExperienceSelectionMiddleware.spec.ts
  packages/sdks/react/src/lib/TrackHasSeenComponent.tsx
  packages/sdks/shared/src/lib/utils/experiences/isExperienceMatch.ts
  packages/sdks/shared/src/lib/utils/experiences/random.ts
  packages/sdks/shared/src/lib/utils/pickBy.ts
  packages/sdks/shared/src/lib/utils/template.ts
  packages/sdks/shared/src/lib/utils/unionBy.ts
Owners: @BraunreutherA, @maxrawlinger, @maroun9t

fix: remove linting errors
  packages/playgrounds/easy-hr/types/contentful.d.ts
  packages/playgrounds/gatsby/plugins/Test.js
  packages/playgrounds/next-js/pages/_app.tsx
  packages/playgrounds/next-js/pages/index.tsx
  packages/playgrounds/next-js/utils/experienceMapper.ts
  packages/plugins/google-analytics/src/NinetailedGoogleAnalyticsPlugin.ts
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
  packages/plugins/preview-bridge/src/PreviewBridge.ts
  packages/sdks/gatsby/gatsby-node.tsx
  packages/sdks/gatsby/plugin-options.ts
  packages/sdks/gatsby/utils/deserialize.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/experience/makeExperienceSelectMiddleware.spec.ts
  packages/sdks/javascript/src/lib/plugins/selectPluginsHavingOnChangeEmitter.spec.ts
  packages/sdks/react/src/lib/Experience/Experience.tsx
  packages/sdks/react/src/lib/NinetailedProvider.tsx
  packages/sdks/react/src/lib/useProfile.ts
  packages/tests/javascript-integration/src/lib/multiple-analytics-plugins.spec.ts
  packages/utils/contentful/src/lib/__test__/ExperienceMapper.spec.ts
  packages/utils/contentful/src/lib/__test__/contentful-generated-types.ts
  packages/utils/contentful/src/types/fixtures/contentful.d.ts
Owners: @BraunreutherA, @maroun9t, @maxrawlinger

feat: update ExperienceConfigComponentSchema to use union with refinement for migration compatibility
  packages/utils/javascript/src/types/Config.ts
Owners: @BraunreutherA

refactor: optimize useFlag hook by removing unnecessary state resets and logger
  packages/sdks/react/src/lib/useFlag.ts
Owners: @maroun9t, @BraunreutherA

refactor: streamline useFlag hook by consolidating refs and improving state handling
  packages/sdks/react/src/lib/useFlag.ts
Owners: @maroun9t, @BraunreutherA

fix: make type field mandatory in EntryReplacementComponentSchema and update ExperienceConfigComponentSchema for migration compatibility
  packages/utils/contentful/src/types/__snapshots__/ExperienceEntry.spec.ts.snap
  packages/utils/javascript/src/types/Config.ts
Owners: @BraunreutherA

fix: add eslint disable comment for explicit any type in ExperienceConfigComponentSchema
  packages/utils/javascript/src/types/Config.ts
Owners: @BraunreutherA

feature: Adding "implied consent" opt-out flag to privacy plugin
  packages/playgrounds/easy-hr/pages/_app.tsx
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.spec.ts
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

feature: Adding "implied consent" opt-out flag to privacy plugin
  packages/playgrounds/easy-hr/pages/_app.tsx
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.spec.ts
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

feat: add componentType to event data and update related types for improved tracking
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/utils/EventBuilder.ts
  packages/sdks/react/src/lib/Experience/Experience.tsx
  packages/sdks/react/src/lib/useFlag.ts
  packages/sdks/shared/src/lib/event/build-component-view-event.ts
  packages/sdks/shared/src/lib/types/Event/ComponentViewEvent.ts
  packages/sdks/shared/src/lib/types/ExperienceDefinition/BaselineWithVariants.ts
Owners: @maroun9t, @BraunreutherA

feat: add support for variable tracking with new payloads and event handlers
  packages/plugins/analytics/src/index.ts
  packages/plugins/analytics/src/lib/ElementSeenPayload.ts
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.ts
  packages/plugins/analytics/src/lib/NinetailedPlugin.ts
  packages/plugins/analytics/src/lib/constants.ts
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
  packages/sdks/javascript/src/index.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/actions.ts
  packages/sdks/javascript/src/lib/types/index.ts
  packages/sdks/javascript/src/lib/types/interfaces/InterestedInSeenVariables.ts
Owners: @BraunreutherA, @maroun9t

feat: update componentType handling to use ComponentViewEventComponentType and refactor related enums
  packages/plugins/analytics/src/index.ts
  packages/plugins/analytics/src/lib/ElementSeenPayload.ts
  packages/sdks/react/src/lib/useFlag.ts
  packages/sdks/shared/src/lib/types/ExperienceDefinition/BaselineWithVariants.ts
Owners: @BraunreutherA, @maroun9t

feat: enhance Variable component to conditionally track flags and render styled output
  packages/playgrounds/easy-hr/components/Variable/Variable.tsx
Owners: @BraunreutherA

feat: update componentType references to use ComponentViewEventComponentType for improved event tracking
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.spec.ts
  packages/sdks/react/src/lib/Experience/Experience.tsx
Owners: @maroun9t, @BraunreutherA

test: add componentType to analytics plugin tests
  packages/plugins/analytics/test/fixtures.ts
  packages/plugins/segment/src/NinetailedSegmentPlugin.spec.ts
  packages/tests/javascript-integration/src/lib/multiple-analytics-plugins.spec.ts
Owners: @BraunreutherA

feat: add componentType to event observation for improved tracking
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
Owners: @maroun9t, @BraunreutherA

feat: update componentType in SanitizedElementSeenPayload to be non-nullable
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.spec.ts
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.ts
Owners: @BraunreutherA

feat: include componentType in experience tracking for improved analytics
  packages/tests/javascript-integration/src/lib/analytics-pipeline.spec.ts
Owners: @BraunreutherA

refactor: replace ComponentViewEventComponentType enum with string literals for componentType in analytics payloads
  packages/plugins/analytics/src/index.ts
  packages/plugins/analytics/src/lib/ElementSeenPayload.ts
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.spec.ts
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.ts
  packages/plugins/analytics/src/lib/NinetailedPlugin.ts
  packages/plugins/analytics/test/fixtures.ts
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.spec.ts
  packages/plugins/segment/src/NinetailedSegmentPlugin.spec.ts
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/actions.ts
  packages/sdks/javascript/src/lib/types/index.ts
  packages/sdks/react/src/lib/Experience/Experience.tsx
  packages/sdks/react/src/lib/useFlag.ts
  packages/tests/javascript-integration/src/lib/analytics-pipeline.spec.ts
  packages/tests/javascript-integration/src/lib/multiple-analytics-plugins.spec.ts
Owners: @BraunreutherA, @maroun9t

feat: import ComponentViewEventComponentType in EventBuilder and update componentType parameter type
  packages/plugins/analytics/src/index.ts
  packages/sdks/javascript/src/lib/utils/EventBuilder.ts
Owners: @BraunreutherA, @maroun9t

refactor: update componentType to use ComponentViewEventComponentType across analytics and event handling for consistency
  packages/plugins/analytics/src/index.ts
  packages/plugins/analytics/test/fixtures.ts
  packages/sdks/shared/src/lib/event/build-component-view-event.ts
  packages/sdks/shared/src/lib/types/Event/ComponentViewEvent.ts
Owners: @BraunreutherA, @maroun9t

refactor: remove outdated TODO comment regarding shouldTrackHook dependency in useFlag
  packages/sdks/react/src/lib/useFlag.ts
Owners: @maroun9t, @BraunreutherA

refactor: update useFlag hook to accept options for tracking behavior and improve code clarity
  packages/sdks/react/src/lib/useFlag.ts
Owners: @maroun9t, @BraunreutherA
