Repository ninetailed-inc/experience.js, changes with the owners that CODEOWNERS names for each.
All owners: @BraunreutherA, @maxrawlinger, @maroun9t, @Lp-Francois

CODEOWNERS:

# How the CODEOWNERS file works:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @BraunreutherA

# Plugins
/packages/plugins/preview-*/    @maxrawlinger
/packages/plugins/insights/     @maroun9t

# SDKs
/packages/sdks/nodejs/          @maxrawlinger @BraunreutherA
/packages/sdks/gatsby/          @maxrawlinger
/packages/sdks/react/           @maroun9t @BraunreutherA
/packages/sdks/nextjs/          @maroun9t
/packages/sdks/javascript/      @maroun9t @BraunreutherA
/packages/sdks/shared/          @maroun9t @BraunreutherA

# github actions
*.yaml                          @Lp-Francois

fix: fix error on sdks-gatsby build
  packages/sdks/gatsby/rollup.config.js
Owners: @maxrawlinger

fix: build issue with generating gatsby sdks files
  packages/sdks/gatsby/rollup.config.js
Owners: @maxrawlinger

fix: make sure generated package.json dependencies are matching
  packages/plugins/analytics/package.json
  packages/plugins/contentsquare/package.json
  packages/plugins/google-analytics/package.json
  packages/plugins/google-tagmanager/package.json
  packages/plugins/privacy/package.json
  packages/plugins/segment/package.json
  packages/sdks/gatsby/package.json
  packages/sdks/nextjs-esr/package.json
  packages/sdks/nextjs/package.json
  packages/sdks/react/package.json
  packages/utils/contentful/package.json
Owners: @BraunreutherA, @maxrawlinger, @maroun9t

fix: build error with gastby
  packages/sdks/gatsby/rollup.config.js
Owners: @maxrawlinger

fix: fix bash script bug where variable was unset
  tools/bump_and_publish_sdks.sh
Owners: @BraunreutherA

feat: install verdaccio
  .verdaccio/config.yml
  package.json
  project.json
  yarn.lock
Owners: @BraunreutherA

docs: add documentation on how to publish to local registry
  CONTRIBUTING.md
Owners: @BraunreutherA

refactor: disable @nx/enforce-module-boundaries for local fixtures
  packages/playgrounds/next-js/experiences.ts
  packages/playgrounds/next-js/pages/_app.tsx
  packages/playgrounds/next-js/pages/index.tsx
  packages/playgrounds/next-js/pages/index2.tsx
Owners: @BraunreutherA

fix: observe empty variant components
  packages/sdks/react/src/lib/Experience/ComponentMarker.tsx
  packages/sdks/react/src/lib/Experience/Experience.tsx
Owners: @maroun9t, @BraunreutherA

fix: observe empty variant components
  packages/sdks/react/src/lib/Experience/ComponentMarker.tsx
  packages/sdks/react/src/lib/Experience/Experience.tsx
Owners: @maroun9t, @BraunreutherA

fix: fix linting by adding expected git references
  .github/workflows/lint_build_test_all.yml
  .github/workflows/publish.yaml
Owners: @BraunreutherA, @Lp-Francois

feat: set the component id to baseline hidden
  packages/sdks/react/src/lib/Experience/Experience.tsx
Owners: @maroun9t, @BraunreutherA

feat: add isVariantHidden to effect deps
  packages/sdks/react/src/lib/Experience/Experience.tsx
Owners: @maroun9t, @BraunreutherA

fix: expand how observable elements are selected
  packages/sdks/react/src/lib/Experience/ComponentMarker.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/ComponentMarker.spec.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/ComponentMarker.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/index.ts
  packages/sdks/react/src/lib/Experience/Experience.tsx
Owners: @maroun9t, @BraunreutherA

fix: expand how observable elements are selected
  packages/sdks/react/src/lib/Experience/ComponentMarker.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/ComponentMarker.spec.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/ComponentMarker.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/index.ts
  packages/sdks/react/src/lib/Experience/Experience.tsx
Owners: @maroun9t, @BraunreutherA

fix: fix linting by adding expected git references
  .github/workflows/lint_build_test_all.yml
  .github/workflows/publish.yaml
Owners: @BraunreutherA, @Lp-Francois

fix: expand how observable elements are selected
  packages/sdks/react/src/lib/Experience/ComponentMarker.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/ComponentMarker.spec.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/ComponentMarker.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/index.ts
  packages/sdks/react/src/lib/Experience/Experience.tsx
Owners: @maroun9t, @BraunreutherA

fix: Allow an element to be observed with multiple payloads
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/test-helpers/intersection-observer-test-helper.ts
Owners: @maroun9t, @BraunreutherA

Simply the observedElements condition
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @maroun9t, @BraunreutherA

refactor: update commits
  packages/plugins/insights/src/lib/event/build-component-view-event.ts
  packages/plugins/insights/src/lib/types/Event/ComponentViewEvent.ts
  packages/sdks/javascript/src/lib/types/ElementSeenPayload.ts
  packages/sdks/javascript/src/lib/types/EventHandler.ts
  packages/sdks/javascript/src/lib/types/NinetailedPlugin.ts
  packages/sdks/javascript/src/lib/types/TrackingProperties.ts
  packages/sdks/react/src/lib/Experience/useExperienceSelectionMiddleware.spec.ts
  packages/sdks/react/src/lib/Experience/useExperienceSelectionMiddleware.ts
  packages/sdks/react/src/lib/MergeTag/MergeTag.spec.tsx
  packages/sdks/react/src/lib/MergeTag/MergeTag.tsx
  packages/sdks/react/src/lib/MergeTag/helpers.spec.ts
  packages/sdks/react/src/lib/MergeTag/helpers.ts
  packages/sdks/react/src/lib/MergeTag/index.ts
Owners: @maroun9t, @BraunreutherA

chore: merge 7.6.x into this branch
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
Owners: @BraunreutherA

fix: linting
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.spec.ts
Owners: @BraunreutherA

chore: merge main into 7.6.x
  packages/playgrounds/easy-hr/lib/rich-text/render.tsx
  packages/playgrounds/gatsby/package.json
  packages/playgrounds/next-js/jest.config.js
  packages/playgrounds/next-js/tsconfig.json
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.spec.ts
  packages/plugins/contentsquare/src/NinetailedContentsquarePlugin.spec.ts
  packages/plugins/google-analytics/src/NinetailedGoogleAnalyticsPlugin.spec.ts
  packages/plugins/google-tagmanager/src/NinetailedGoogleTagmanagerPlugin.spec.ts
  packages/plugins/segment/package.json
  packages/plugins/segment/src/NinetailedSegmentPlugin.spec.ts
  packages/sdks/gatsby/package.json
  packages/sdks/nextjs-esr/package.json
  packages/sdks/nextjs/package.json
  packages/sdks/nodejs/package.json
  packages/sdks/react/src/lib/MergeTag/MergeTag.spec.tsx
  packages/sdks/react/src/lib/MergeTag/MergeTag.tsx
  packages/sdks/react/src/lib/MergeTag/helpers.spec.ts
  packages/sdks/react/src/lib/MergeTag/helpers.ts
  packages/sdks/react/src/lib/MergeTag/index.ts
  packages/sdks/react/src/lib/NinetailedProvider.tsx
  packages/sdks/react/tsconfig.spec.json
  packages/sdks/shared/src/lib/api/NinetailedApiClient.spec.ts
  packages/testing-utils/.babelrc
  packages/testing-utils/.eslintrc.json
  packages/testing-utils/README.md
  packages/testing-utils/package.json
  packages/testing-utils/project.json
  packages/testing-utils/src/index.ts
  packages/testing-utils/src/lib/sleep.ts
  packages/testing-utils/tsconfig.json
  packages/testing-utils/tsconfig.lib.json
  packages/tests/javascript-integration/src/lib/analytics-pipeline.spec.ts
Owners: @BraunreutherA, @maxrawlinger, @maroun9t

feat make plugin componentTracking thresholds a getter func
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/guards/hasComponentViewTrackingThreshold.ts
  packages/sdks/javascript/src/lib/types/interfaces/HasComponentViewTrackingThreshold.ts
Owners: @maroun9t, @BraunreutherA

fix: change case to upper
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
Owners: @maroun9t, @BraunreutherA

fix: change case to upper
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/Events/build-context.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/Events/build-locale.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/Events/index.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/constants.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/index.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/ninetailedCorePlugin.ts
Owners: @maroun9t, @BraunreutherA

Fix dependencies lint errors
  packages/plugins/analytics/package.json
  packages/plugins/insights/package.json
  packages/plugins/preview/package.json
  packages/plugins/privacy/package.json
  packages/plugins/ssr/package.json
  packages/sdks/gatsby/package.json
  packages/sdks/javascript/package.json
  packages/sdks/react/package.json
Owners: @BraunreutherA, @maroun9t, @maxrawlinger

Revert to MIT license
  packages/plugins/analytics/package.json
  packages/plugins/contentsquare/package.json
  packages/plugins/google-analytics/package.json
  packages/plugins/google-tagmanager/package.json
  packages/plugins/insights/package.json
  packages/plugins/preview-bridge/package.json
  packages/plugins/preview/package.json
  packages/plugins/privacy/package.json
  packages/plugins/segment/package.json
  packages/plugins/ssr/package.json
  packages/sdks/javascript/package.json
  packages/sdks/nextjs-esr/package.json
  packages/sdks/nextjs/package.json
  packages/sdks/nodejs/package.json
  packages/sdks/react/package.json
  packages/sdks/shared/package.json
  packages/utils/contentful/package.json
  packages/utils/javascript/package.json
Owners: @BraunreutherA, @maroun9t, @maxrawlinger

fix: consider baseline as a possible variant
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @maroun9t, @BraunreutherA

fix: add test
  packages/sdks/react/src/lib/Experience/useExperience.spec.tsx
Owners: @maroun9t, @BraunreutherA

fix: add missing module type fields
  jest.config.ts
  package.json
  packages/plugins/analytics/package.json
  packages/plugins/google-analytics/package.json
  packages/plugins/preview-bridge/package.json
  packages/plugins/preview/package.json
  packages/plugins/privacy/package.json
  packages/plugins/ssr/package.json
  packages/sdks/javascript/package.json
  packages/sdks/nextjs-esr/package.json
  packages/sdks/nextjs/package.json
  packages/sdks/nodejs/package.json
  packages/sdks/react/package.json
  packages/sdks/shared/package.json
  packages/sdks/shared/project.json
  packages/sdks/shared/rollup.config.cjs
  packages/tests/generated-packages/.eslintrc.json
  packages/tests/generated-packages/README.md
  packages/tests/generated-packages/jest.config.ts
  packages/tests/generated-packages/project.json
  packages/tests/generated-packages/src/index.ts
  packages/tests/generated-packages/src/lib/generated-package-json.spec.ts
  packages/tests/generated-packages/tsconfig.json
  packages/tests/generated-packages/tsconfig.lib.json
  packages/tests/generated-packages/tsconfig.spec.json
  packages/utils/contentful/package.json
  packages/utils/javascript/package.json
  project.json
  tsconfig.base.json
  yarn.lock
Owners: @BraunreutherA, @maxrawlinger, @maroun9t

chore: update package Readme file
  packages/tests/generated-packages/README.md
Owners: @BraunreutherA

chore: include rollup config file
  packages/sdks/shared/tsconfig.lib.json
Owners: @maroun9t, @BraunreutherA

chore: update dependency for build-all-except-playgrounds
  package.json
  packages/tests/generated-packages/project.json
  project.json
Owners: @BraunreutherA

chore: use jest.config as a cjs module
  packages/plugins/google-analytics/jest.config.cjs
  packages/plugins/google-analytics/project.json
  packages/plugins/google-analytics/tsconfig.lib.json
  packages/plugins/preview-bridge/jest.config.cjs
  packages/plugins/preview-bridge/project.json
  packages/plugins/preview-bridge/tsconfig.lib.json
  packages/plugins/preview/jest.config.cjs
  packages/plugins/preview/project.json
  packages/plugins/preview/tsconfig.lib.json
  packages/plugins/ssr/jest.config.cjs
  packages/plugins/ssr/project.json
  packages/plugins/ssr/tsconfig.lib.json
  packages/sdks/gatsby/jest.config.cjs
  packages/sdks/gatsby/project.json
  packages/sdks/gatsby/tsconfig.lib.json
  packages/sdks/javascript/jest.config.cjs
  packages/sdks/javascript/project.json
  packages/sdks/javascript/tsconfig.lib.json
  packages/sdks/nextjs-esr/jest.config.cjs
  packages/sdks/nextjs-esr/project.json
  packages/sdks/nextjs-esr/tsconfig.lib.json
  packages/sdks/nextjs/jest.config.cjs
  packages/sdks/nextjs/project.json
  packages/sdks/nextjs/tsconfig.lib.json
  packages/sdks/react/jest.config.cjs
  packages/sdks/react/project.json
  packages/sdks/react/tsconfig.lib.json
  packages/sdks/shared/jest.config.cjs
  packages/sdks/shared/project.json
  packages/sdks/shared/tsconfig.lib.json
  packages/tests/generated-packages/project.json
  packages/utils/contentful/jest.config.cjs
  packages/utils/contentful/project.json
  packages/utils/javascript/jest.config.cjs
  packages/utils/javascript/project.json
Owners: @BraunreutherA, @maxrawlinger, @maroun9t

fix: add missing plugin options in Gatsby schema
  packages/sdks/gatsby/gatsby-node.tsx
Owners: @maxrawlinger

feat: small tool to rewrite the inter repo dependencies of ninetailed
  tools/bump_and_publish_sdks.sh
  tools/scripts/update-package-json.ts
Owners: @BraunreutherA

fix: expand how observable elements are selected
  packages/sdks/react/src/lib/Experience/ComponentMarker.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/ComponentMarker.spec.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/ComponentMarker.tsx
  packages/sdks/react/src/lib/Experience/ComponentMarker/index.ts
  packages/sdks/react/src/lib/Experience/Experience.tsx
Owners: @maroun9t, @BraunreutherA

Simply the observedElements condition
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @maroun9t, @BraunreutherA

fix: Allow an element to be observed with multiple payloads
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/test-helpers/intersection-observer-test-helper.ts
Owners: @maroun9t, @BraunreutherA
