Repository ninetailed-inc/experience.js, changes with the owners that CODEOWNERS names for each.
All owners: @BraunreutherA, @maxrawlinger, @maroun9t, @Lp-Francois

fix: update removeListeners to use forEach and add warning about loop constructs to preserve functionality
  packages/sdks/javascript/src/lib/experience/makeExperienceSelectMiddleware.ts
Owners: @maroun9t, @BraunreutherA

fix: rename TypedEventHandlerAnalyticsInstance to EventHandlerAnalyticsInstance for consistency across Ninetailed classes
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
Owners: @maroun9t, @BraunreutherA

fix: clarify warning about forEach in makeExperienceSelectMiddleware with note on transplier and a TODO for future investigation
  packages/sdks/javascript/src/lib/experience/makeExperienceSelectMiddleware.ts
Owners: @maroun9t, @BraunreutherA

feat: add Change types to SDK, introducing VariableChange and Change
  packages/sdks/shared/src/index.ts
  packages/sdks/shared/src/lib/types/Change/Changes.ts
  packages/sdks/shared/src/lib/types/Change/index.ts
Owners: @maroun9t, @BraunreutherA

feat: enhance ProfileState by adding changes array and integrating Change type into JavaScript and React SDKs
  packages/sdks/javascript/src/lib/types/index.ts
  packages/sdks/react/src/lib/MergeTag/MergeTag.spec.tsx
  packages/sdks/shared/src/lib/types/Change/Changes.ts
Owners: @maroun9t, @BraunreutherA

feat: add changes array to profile state and update SDKs for handling Change type across various endpoints and classes
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/actions.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/constants.ts
  packages/sdks/shared/src/lib/types/Endpoints/CreateProfile.ts
  packages/sdks/shared/src/lib/types/Endpoints/GetProfile.ts
  packages/sdks/shared/src/lib/types/Endpoints/UpdateProfile.ts
  packages/sdks/shared/src/lib/types/SelectedVariantInfo/ProfileWithSelectedVariants.ts
Owners: @maroun9t, @BraunreutherA

feat: implement useChanges hook to manage feature flag retrieval from Ninetailed profile
  packages/sdks/react/src/lib/useChanges.ts
Owners: @maroun9t, @BraunreutherA

feat: export useChanges hook and integrate ChangeTypes
  packages/sdks/react/src/lib/index.ts
  packages/sdks/react/src/lib/useChanges.ts
Owners: @maroun9t, @BraunreutherA

feat: add new scripts for Contentful setup and export, and update package dependencies for improved compatibility
  package.json
  packages/playgrounds/easy-hr/.env.local.example
  packages/playgrounds/easy-hr/contentful/deleteEntriesOfContentType.js
  packages/playgrounds/easy-hr/contentful/export.js
  packages/playgrounds/easy-hr/contentful/setup.js
  packages/playgrounds/easy-hr/lib/api.ts
  yarn.lock
Owners: @BraunreutherA

feat: implement onChangesChange callback and useFlag hook
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/types/index.ts
  packages/sdks/react/src/lib/index.ts
  packages/sdks/react/src/lib/useChanges.ts
  packages/sdks/react/src/lib/useFlag.ts
Owners: @maroun9t, @BraunreutherA

refactor: remove default value for changes in Create, Get, and Update Profile responses as API now sends them correctly
  packages/sdks/shared/src/lib/types/Endpoints/CreateProfile.ts
  packages/sdks/shared/src/lib/types/Endpoints/GetProfile.ts
  packages/sdks/shared/src/lib/types/Endpoints/UpdateProfile.ts
Owners: @maroun9t, @BraunreutherA

fix: update environment variable usage in Contentful setup to remove NEXT_PUBLIC prefix for consistency across configurations
  packages/playgrounds/easy-hr/.env.local.example
  packages/playgrounds/easy-hr/contentful/deleteEntriesOfContentType.js
  packages/playgrounds/easy-hr/contentful/export.js
  packages/playgrounds/easy-hr/contentful/setup.js
  packages/playgrounds/easy-hr/lib/api.ts
Owners: @BraunreutherA

fix: reset state in useFlag and improve type naming
  packages/sdks/react/src/lib/useFlag.ts
Owners: @maroun9t, @BraunreutherA

refactor: simplify FlagResult type and remove redundant loading state in useFlag hook
  packages/sdks/react/src/lib/useFlag.ts
Owners: @maroun9t, @BraunreutherA

feat: enhance variable handling in preview plugin with support for setting and resetting variable values and their overrides
  packages/playgrounds/easy-hr/components/Navigation/Navigation.tsx
  packages/playgrounds/easy-hr/components/TestComponent.tsx
  packages/playgrounds/easy-hr/pages/[[...slug]].tsx
  packages/plugins/preview-bridge/src/PreviewPluginApi.ts
  packages/plugins/preview-bridge/src/types.ts
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/sdks/javascript/src/lib/types/ProfileChangedPayload.ts
Owners: @BraunreutherA, @maxrawlinger, @maroun9t

feat: add CustomFlagTest component for testing flags and remove old TestComponent in easy-hr playground
  packages/playgrounds/easy-hr/components/CustomFlagTest/CustomFlagTest.tsx
  packages/playgrounds/easy-hr/components/CustomFlagTest/index.ts
  packages/playgrounds/easy-hr/components/TestComponent.tsx
Owners: @BraunreutherA

feat: integrate CustomFlagTest in easy-hr playground and enhance preview plugin with custom event handling for variable changes
  packages/playgrounds/easy-hr/pages/[[...slug]].tsx
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/react/src/lib/useFlag.ts
Owners: @BraunreutherA, @maroun9t

feat: add changes modification middleware and related types, plugins, and guards for handling changes in experience middleware
  packages/sdks/javascript/src/index.ts
  packages/sdks/javascript/src/lib/experience/index.ts
  packages/sdks/javascript/src/lib/experience/makeChangesModificationMiddleware.ts
  packages/sdks/javascript/src/lib/guards/hasChangesModificationMiddleware.ts
  packages/sdks/javascript/src/lib/plugins/selectPluginsHavingChangesModificationMiddleware.ts
  packages/sdks/javascript/src/lib/types/interfaces/HasChangesModificationMiddleware.ts
Owners: @maroun9t, @BraunreutherA

feat: enhance CustomFlagTest with experience and flag configurations, update preview plugin for variable handling and logging Co-authored-by: Tim Beyer <TimBeyer@users.noreply.github.com>
  packages/playgrounds/easy-hr/components/CustomFlagTest/CustomFlagTest.tsx
  packages/playgrounds/easy-hr/pages/_app.tsx
  packages/plugins/preview-bridge/src/PreviewPluginApi.ts
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/react/src/lib/useFlag.ts
  packages/utils/javascript/src/types/Config.ts
Owners: @BraunreutherA, @maxrawlinger, @maroun9t

fix: pass a custom analytics instance to the Segment plugin
  packages/plugins/segment/src/NinetailedSegmentPlugin.spec.ts
  packages/plugins/segment/src/NinetailedSegmentPlugin.ts
Owners: @BraunreutherA

fix: refine the type of the analytics instance
  packages/plugins/segment/src/NinetailedSegmentPlugin.ts
Owners: @BraunreutherA

fix: don't rely on types from the segment package
  packages/plugins/segment/src/NinetailedSegmentPlugin.ts
Owners: @BraunreutherA

fix: cast the type of window.analytics
  packages/plugins/segment/src/NinetailedSegmentPlugin.ts
Owners: @BraunreutherA

fix: move @segment/analytics-next to devDependencies
  packages/plugins/segment/package.json
  packages/tests/generated-packages/src/lib/__snapshots__/generated-package-json.spec.ts.snap
Owners: @BraunreutherA

feat: define EntryReplacement and InlineVariable types, improve ExperienceConfiguration with new component structure and serialization logic
  packages/sdks/shared/src/lib/types/ExperienceDefinition/BaselineWithVariants.ts
  packages/sdks/shared/src/lib/types/ExperienceDefinition/ExperienceConfiguration.ts
  packages/sdks/shared/src/lib/types/ExperienceDefinition/index.ts
  packages/sdks/shared/src/lib/types/SerializableObject/index.ts
  packages/utils/javascript/src/lib/ExperienceMapper.ts
  packages/utils/javascript/src/types/Config.ts
Owners: @maroun9t, @BraunreutherA

feat: refactor CustomFlag component and usage, integrate dynamic flag handling with preview support and error/loading states
  packages/playgrounds/easy-hr/components/CustomFlagTest/CustomFlagTest.tsx
  packages/playgrounds/easy-hr/pages/[[...slug]].tsx
  packages/playgrounds/easy-hr/pages/_app.tsx
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/sdks/react/src/lib/index.ts
Owners: @BraunreutherA, @maroun9t

feat: export ComponentTypeEnum from BaselineWithVariants, enhance module exports for improved type accessibility
  packages/sdks/shared/src/lib/types/ExperienceDefinition/BaselineWithVariants.ts
  packages/sdks/shared/src/lib/types/ExperienceDefinition/index.ts
  packages/utils/javascript/src/index.ts
Owners: @maroun9t, @BraunreutherA

feat: refactor NinetailedPreviewPlugin to streamline variable handling and enhance component processing with improved change notification
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @BraunreutherA, @maroun9t

feat: remove CustomFlag component and add Variable component for streamlined flag usage, updating page to utilize new structure
  packages/playgrounds/easy-hr/components/CustomFlagTest/CustomFlagTest.tsx
  packages/playgrounds/easy-hr/components/CustomFlagTest/index.ts
  packages/playgrounds/easy-hr/components/Variable/Variable.tsx
  packages/playgrounds/easy-hr/components/Variable/index.ts
  packages/playgrounds/easy-hr/pages/[[...slug]].tsx
Owners: @BraunreutherA

feat: clean up code by removing unused properties and comments in various components for better readability and maintenance
  packages/playgrounds/easy-hr/pages/_app.tsx
  packages/plugins/preview-bridge/src/PreviewPluginApi.ts
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/sdks/react/src/lib/useFlag.ts
  packages/utils/javascript/src/lib/ExperienceMapper.ts
Owners: @BraunreutherA, @maxrawlinger, @maroun9t

feat: refactor useFlag logic for better readability and maintainability by simplifying change retrieval process and removing redundant code
  packages/playgrounds/easy-hr/components/Navigation/Navigation.tsx
  packages/plugins/preview-bridge/src/PreviewPluginApi.ts
  packages/plugins/preview-bridge/src/types.ts
  packages/sdks/react/src/lib/useFlag.ts
Owners: @BraunreutherA, @maxrawlinger, @maroun9t

style: fix styling
  packages/playgrounds/easy-hr/components/Navigation/Navigation.tsx
Owners: @BraunreutherA

feat: update experience types by replacing BaselineWithVariants with EntryReplacement and adding necessary imports for functionality
  packages/sdks/javascript/src/lib/experience/types/index.ts
  packages/sdks/react/src/lib/Experience/types/BaselineWithVariants.ts
  packages/sdks/shared/src/lib/utils/experiences/selectBaselineWithVariants.ts
Owners: @maroun9t, @BraunreutherA

fix: improve baseline ID check in ESRLoadingComponent to ensure baseline presence and avoid potential errors
  packages/sdks/react/src/lib/Experience/ESRLoadingComponent.tsx
  packages/sdks/react/src/lib/index.ts
  packages/utils/javascript/src/lib/ExperienceMapper.spec.ts
Owners: @maroun9t, @BraunreutherA

test: enhance ExperienceMapper tests to check for variant IDs and update snapshots with new component fields
  packages/utils/contentful/src/lib/__test__/ExperienceMapper.spec.ts
  packages/utils/contentful/src/lib/__test__/__snapshots__/ExperienceMapper.spec.ts.snap
  packages/utils/contentful/src/types/__snapshots__/ExperienceEntry.spec.ts.snap
Owners: @BraunreutherA

fix: refine component type checking in NinetailedPreviewPlugin for inline variables and ensure safe access to variant values
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
Owners: @BraunreutherA

test: update useExperience tests to incorporate ComponentTypeEnum and ensure proper experience structure handling
  packages/sdks/react/src/lib/Experience/useExperience.spec.tsx
Owners: @maroun9t, @BraunreutherA

feat: add changes modification middleware and related interfaces and guards to support plugin integration
  packages/sdks/javascript/src/index.ts
  packages/sdks/javascript/src/lib/experience/index.ts
  packages/sdks/javascript/src/lib/experience/makeChangesModificationMiddleware.ts
  packages/sdks/javascript/src/lib/guards/hasChangesModificationMiddleware.ts
  packages/sdks/javascript/src/lib/plugins/selectPluginsHavingChangesModificationMiddleware.ts
  packages/sdks/javascript/src/lib/types/interfaces/HasChangesModificationMiddleware.ts
Owners: @maroun9t, @BraunreutherA

feat: integrate changes modification middleware and update ProfileChangedPayload type to include changes array support
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/types/ProfileChangedPayload.ts
Owners: @maroun9t, @BraunreutherA

feat: add SerializableObject type and related components to experience definition for enhanced serialization support
  packages/sdks/shared/src/index.ts
  packages/sdks/shared/src/lib/types/ExperienceDefinition/BaselineWithVariants.ts
  packages/sdks/shared/src/lib/types/ExperienceDefinition/ExperienceConfiguration.ts
  packages/sdks/shared/src/lib/types/SerializableObject/SerializableObject.ts
Owners: @maroun9t, @BraunreutherA

CODEOWNERS:

# How the CODEOWNERS file works:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @BraunreutherA

# Plugins
/packages/plugins/preview-*/    @maxrawlinger
/packages/plugins/insights/     @maroun9t

# SDKs
/packages/sdks/nodejs/          @maxrawlinger @BraunreutherA
/packages/sdks/gatsby/          @maxrawlinger
/packages/sdks/react/           @maroun9t @BraunreutherA
/packages/sdks/nextjs/          @maroun9t
/packages/sdks/javascript/      @maroun9t @BraunreutherA
/packages/sdks/shared/          @maroun9t @BraunreutherA

# github actions
*.yaml                          @Lp-Francois
