Repository ninetailed-inc/experience.js, changes with the owners that CODEOWNERS names for each.
All owners: @BraunreutherA, @maxrawlinger, @maroun9t, @Lp-Francois

CODEOWNERS:

# How the CODEOWNERS file works:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @BraunreutherA

# Plugins
/packages/plugins/preview-*/    @maxrawlinger
/packages/plugins/insights/     @maroun9t

# SDKs
/packages/sdks/nodejs/          @maxrawlinger @BraunreutherA
/packages/sdks/gatsby/          @maxrawlinger
/packages/sdks/react/           @maroun9t @BraunreutherA
/packages/sdks/nextjs/          @maroun9t
/packages/sdks/javascript/      @maroun9t @BraunreutherA
/packages/sdks/shared/          @maroun9t @BraunreutherA

# github actions
*.yaml                          @Lp-Francois

chore: add dev dependency
  packages/sdks/javascript/package.json
Owners: @maroun9t, @BraunreutherA

chore: fix missing type
  packages/sdks/javascript/src/lib/test-helpers/intersection-observer-test-helper.ts
Owners: @maroun9t, @BraunreutherA

fix: remove type module from package json files
  packages/plugins/analytics/package.json
  packages/plugins/google-analytics/package.json
  packages/plugins/preview-bridge/package.json
  packages/plugins/preview/package.json
  packages/plugins/ssr/package.json
  packages/sdks/javascript/package.json
  packages/sdks/nextjs-esr/package.json
  packages/sdks/nextjs/package.json
  packages/sdks/react/package.json
  packages/sdks/shared/package.json
  packages/tests/generated-packages/src/lib/generated-package-json.spec.ts
  packages/utils/contentful/package.json
  packages/utils/javascript/package.json
Owners: @BraunreutherA, @maxrawlinger, @maroun9t

fix test broken through merge
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
Owners: @maroun9t, @BraunreutherA

chore: update Ninetailed test
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @maroun9t, @BraunreutherA

chore: update Ninetailed test
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
Owners: @maroun9t, @BraunreutherA

chore: add snapshot tests for package.json files
  packages/tests/generated-packages/src/lib/__snapshots__/generated-package-json.spec.ts.snap
  packages/tests/generated-packages/src/lib/generated-package-json.spec.ts
Owners: @BraunreutherA

wip
  packages/plugins/analytics/src/index.ts
  packages/plugins/analytics/src/lib/ElementSeenPayload.ts
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.ts
  packages/plugins/analytics/src/lib/guards/hasComponentViewTrackingThreshold.ts
  packages/plugins/analytics/src/lib/types/interfaces/HasComponentViewTrackingThreshold.ts
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/types/index.ts
  packages/sdks/javascript/tsconfig.lib.json
Owners: @BraunreutherA, @maroun9t

fix: track element seen with different payloads
  packages/plugins/analytics/package.json
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.ts
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
  packages/tests/generated-packages/src/lib/__snapshots__/generated-package-json.spec.ts.snap
Owners: @BraunreutherA, @maroun9t

fix: correctly export
  packages/plugins/analytics/src/index.ts
Owners: @BraunreutherA

feat: let plugins decide if they should react to the event
  packages/plugins/analytics/src/lib/ElementSeenPayload.ts
  packages/plugins/analytics/src/lib/NinetailedPlugin.ts
  packages/plugins/analytics/src/lib/constants.ts
  packages/plugins/analytics/src/lib/guards/hasComponentViewTrackingThreshold.ts
  packages/plugins/analytics/src/lib/types/interfaces/HasComponentViewTrackingThreshold.ts
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
Owners: @BraunreutherA, @maroun9t

feat: no need to reimplement abort in insights plugin
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
Owners: @maroun9t

chore: remove unused import
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
Owners: @maroun9t

fix: un-omit non existant property
  packages/sdks/javascript/src/lib/types/index.ts
Owners: @maroun9t, @BraunreutherA

fix: clean tsconfig
  packages/sdks/javascript/tsconfig.lib.json
Owners: @maroun9t, @BraunreutherA

feat: no need for NinetailedAnalyticsPlugin to check seenfor again
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.ts
Owners: @BraunreutherA

chore: remove unused import
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.ts
Owners: @BraunreutherA

feat: don't use the has seen element start abort as it cancels all
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.ts
  packages/plugins/analytics/src/lib/NinetailedPlugin.ts
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
  packages/sdks/javascript/src/lib/Ninetailed.spec.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
Owners: @BraunreutherA, @maroun9t

fix build
  packages/plugins/analytics/src/index.ts
Owners: @BraunreutherA

adjust test
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.spec.ts
Owners: @BraunreutherA

chore: add test for the insights plugin
  packages/plugins/insights/package.json
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.spec.ts
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
  packages/plugins/insights/src/lib/test-helpers/intersection-observer-test-helper.ts
  packages/tests/generated-packages/src/lib/__snapshots__/generated-package-json.spec.ts.snap
Owners: @maroun9t, @BraunreutherA

chore: update test for the insights plugin
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.spec.ts
Owners: @maroun9t

fix: remove the element from payload
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
Owners: @maroun9t

fix tests
  packages/plugins/analytics/src/lib/NinetailedAnalyticsPlugin.spec.ts
Owners: @BraunreutherA

multiple delays won't trigger the insights plugin twice
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.spec.ts
Owners: @maroun9t

feat: add e2e test with multiple active analytics plugins
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
  packages/tests/javascript-integration/src/lib/__snapshots__/multiple-analytics-plugins.spec.ts.snap
  packages/tests/javascript-integration/src/lib/multiple-analytics-plugins.spec.ts
Owners: @maroun9t, @BraunreutherA

feat: rename useClientSideEvaluation -> useSDKEvaluation in js pkg
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @maroun9t, @BraunreutherA

feat: rename in React pkg
  packages/sdks/react/src/lib/NinetailedProvider.tsx
Owners: @maroun9t, @BraunreutherA

feat: rename for gatsby plugin
  packages/sdks/gatsby/gatsby-browser.tsx
  packages/sdks/gatsby/gatsby-node.tsx
Owners: @maxrawlinger

feat: pass current package version to preview plugin api
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
Owners: @BraunreutherA

feat: upgrade zod to version 3.22.4
  package.json
  packages/plugins/analytics/package.json
  packages/sdks/shared/package.json
  packages/utils/contentful/package.json
  packages/utils/javascript/package.json
  yarn.lock
Owners: @BraunreutherA, @maroun9t

feat: upgrade to zod version 3.23.0
  package.json
  packages/plugins/analytics/package.json
  packages/sdks/shared/package.json
  packages/tests/generated-packages/src/lib/__snapshots__/generated-package-json.spec.ts.snap
  packages/utils/contentful/package.json
  packages/utils/javascript/package.json
  yarn.lock
Owners: @BraunreutherA, @maroun9t

fix: add the component to useEffect to make sure, components get tracked
  packages/sdks/react/src/lib/Experience/Experience.tsx
Owners: @maroun9t, @BraunreutherA

feat: option for pre and after consent config
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

feat: proper initialization & tests
  packages/plugins/privacy/jest.config.js
  packages/plugins/privacy/package.json
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.spec.ts
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

feat: test setting the enabled features
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.spec.ts
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

feat: fix the async nature of setItem
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.spec.ts
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

feat: add async mapper to contentful utils
  packages/utils/contentful/src/lib/ExperienceMapper.ts
Owners: @BraunreutherA

test: add unit test for async mapper
  packages/utils/contentful/src/lib/__test__/ExperienceMapper.spec.ts
Owners: @BraunreutherA

test: properly assert the variant mapping
  packages/utils/contentful/src/lib/__test__/ExperienceMapper.spec.ts
Owners: @BraunreutherA
