Repository ninetailed-inc/experience.js, changes with the owners that CODEOWNERS names for each.
All owners: @BraunreutherA, @maxrawlinger, @maroun9t, @Lp-Francois

CODEOWNERS:

# How the CODEOWNERS file works:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @BraunreutherA

# Plugins
/packages/plugins/preview-*/    @maxrawlinger
/packages/plugins/insights/     @maroun9t

# SDKs
/packages/sdks/nodejs/          @maxrawlinger @BraunreutherA
/packages/sdks/gatsby/          @maxrawlinger
/packages/sdks/react/           @maroun9t @BraunreutherA
/packages/sdks/nextjs/          @maroun9t
/packages/sdks/javascript/      @maroun9t @BraunreutherA
/packages/sdks/shared/          @maroun9t @BraunreutherA

# github actions
*.yaml                          @Lp-Francois

refactor: move Storage type into own type file
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/types/Storage.ts
  packages/sdks/javascript/src/lib/types/index.ts
Owners: @maroun9t, @BraunreutherA

fix: don't overwrite the given timestamp in event builder
  packages/sdks/javascript/src/lib/utils/EventBuilder.ts
Owners: @maroun9t, @BraunreutherA

feat: notify about rejected track event
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

chore: remove unused queue
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

feat: dispatch profile change, when event sending gets blocked.
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

refactor: move profile state handling into a state Manager
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/ProfileStateManager.ts
  packages/sdks/javascript/src/lib/types/ProfileChangedPayload.ts
Owners: @maroun9t, @BraunreutherA

WIP: break loading by handling abort as error
  packages/playgrounds/easy-hr/pages/_app.tsx
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/ProfileStateManager.ts
Owners: @BraunreutherA, @maroun9t

fix: send component view events only when a profile exists
  packages/plugins/insights/src/lib/NinetailedInsightsPlugin.ts
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/plugins/ssr/src/lib/analytics/plugin.ts
  packages/sdks/javascript/src/lib/types/ProfileChangedPayload.ts
Owners: @maroun9t, @BraunreutherA

fix: avoid circular references when stringifying json
  packages/sdks/react/src/lib/Experience/useExperience.spec.tsx
  packages/sdks/react/src/lib/Experience/useExperience.ts
  packages/sdks/shared/src/index.ts
  packages/sdks/shared/src/lib/utils/circularJsonStringify/circularJsonStringify.spec.ts
  packages/sdks/shared/src/lib/utils/circularJsonStringify/circularJsonStringify.ts
  packages/sdks/shared/src/lib/utils/circularJsonStringify/cycle.ts
Owners: @maroun9t, @BraunreutherA

feat: check if allowedTrackEvents is set to * and allow all
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.spec.ts
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

feat: streamline default config & docs
  packages/plugins/privacy/src/NinetailedPrivacyPlugin.ts
Owners: @BraunreutherA

fix: prevent dead spot underneath preview widget ribbon
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/plugins/preview/src/lib/plugin/WidgetContainer.ts
Owners: @BraunreutherA

fix: stop bundling polyfills
  packages/plugins/analytics/.babelrc
  packages/plugins/insights/.babelrc
Owners: @BraunreutherA, @maroun9t

fix: remove react-intersection-observer
  package.json
  packages/sdks/react/package.json
  packages/sdks/react/src/lib/TrackHasSeenComponent.tsx
  packages/tests/generated-packages/src/lib/__snapshots__/generated-package-json.spec.ts.snap
  yarn.lock
Owners: @BraunreutherA, @maroun9t

Upgrade testing library version
  package.json
  packages/sdks/react/package.json
  packages/sdks/react/src/lib/Experience/useExperience.spec.tsx
  packages/sdks/react/src/lib/useNinetailed.spec.tsx
  packages/tests/generated-packages/src/lib/__snapshots__/generated-package-json.spec.ts.snap
  yarn.lock
Owners: @BraunreutherA, @maroun9t

refactor: streamline anonymous ID and profile handling with new caching methods
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
Owners: @maroun9t, @BraunreutherA

Remove testing library from eslint rule
  packages/sdks/react/.eslintrc.json
  packages/sdks/react/package.json
  packages/tests/generated-packages/src/lib/__snapshots__/generated-package-json.spec.ts.snap
Owners: @maroun9t, @BraunreutherA

refactor: replace AnalyticsInstance with TypedEventHandlerAnalyticsInstance for better type handling and action dispatching
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/actions.ts
  packages/sdks/javascript/src/lib/types/index.ts
Owners: @maroun9t, @BraunreutherA

feat: add Change type and VariableChange definition
  packages/sdks/javascript/src/lib/types/index.ts
  packages/sdks/shared/src/lib/types/Changes/Changes.ts
Owners: @maroun9t, @BraunreutherA

feat: integrate changes into profile handling with new Change type and caching methods across SDK components
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/actions.ts
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/constants.ts
  packages/sdks/shared/src/index.ts
  packages/sdks/shared/src/lib/types/Changes/index.ts
  packages/sdks/shared/src/lib/types/Endpoints/CreateProfile.ts
  packages/sdks/shared/src/lib/types/Endpoints/GetProfile.ts
  packages/sdks/shared/src/lib/types/Endpoints/UpdateProfile.ts
  packages/sdks/shared/src/lib/types/SelectedVariantInfo/ProfileWithSelectedVariants.ts
Owners: @maroun9t, @BraunreutherA

feat: add useCustomFlag hook for dynamic flag management and profile
  packages/sdks/react/src/lib/index.ts
  packages/sdks/react/src/lib/useCustomFlag.ts
Owners: @maroun9t, @BraunreutherA

feat: set default for changes in profile responses until API is updated to return them Co-authored-by: Tim Beyer <TimBeyer@users.noreply.github.com>
  packages/sdks/shared/src/lib/types/Endpoints/CreateProfile.ts
  packages/sdks/shared/src/lib/types/Endpoints/GetProfile.ts
  packages/sdks/shared/src/lib/types/Endpoints/UpdateProfile.ts
Owners: @maroun9t, @BraunreutherA

feat: enhance useProfile hook to strip experiences and optimize re-renders, improving profile state management with subscriptions
  packages/sdks/react/src/lib/useProfile.ts
  packages/sdks/shared/src/lib/types/Changes/Changes.ts
Owners: @maroun9t, @BraunreutherA

feat: refactor useCustomFlag to improve flag retrieval logic and error handling, utilizing profile state more effectively
  packages/sdks/react/src/lib/useCustomFlag.ts
Owners: @maroun9t, @BraunreutherA

feat: update mock in MergeTag tests to return default changes array, simplifying test setup for profile state handling
  packages/sdks/react/src/lib/MergeTag/MergeTag.spec.tsx
  packages/sdks/react/src/lib/index.ts
Owners: @maroun9t, @BraunreutherA

fix: restructure useProfile hook to exclude 'experiences' from state, improving performance and preventing re-renders
  packages/playgrounds/easy-hr/components/HubspotForm/HubspotForm.tsx
  packages/sdks/react/src/lib/MergeTag/MergeTag.tsx
  packages/sdks/react/src/lib/useProfile.ts
Owners: @BraunreutherA, @maroun9t

fix: update MergeTag.spec.tsx to mock useProfile without loading state for accurate testing results
  packages/sdks/react/src/lib/MergeTag/MergeTag.spec.tsx
Owners: @maroun9t, @BraunreutherA

feat: add dispatch action types and payload mappings for NinetailedCorePlugin actions
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/actions.ts
Owners: @maroun9t, @BraunreutherA

feat: enhance NinetailedCorePlugin with typed analytics instance and caching optimizations for profile management
  packages/sdks/javascript/src/lib/NinetailedCorePlugin/NinetailedCorePlugin.ts
Owners: @maroun9t, @BraunreutherA

feat: update Ninetailed class to use TypedEventHandlerAnalyticsInstance for better type safety and enhance error handling in types module
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/types/index.ts
Owners: @maroun9t, @BraunreutherA

feat: refactor EventBuilder to improve event construction with base method and enhance type safety for event data objects Co-authored-by: Tim Beyer <TimBeyer@users.noreply.github.com>
  packages/sdks/javascript/src/lib/utils/EventBuilder.ts
Owners: @maroun9t, @BraunreutherA

feat: refactor ProfileState type to consolidate loading, success, and error states with improved structure and added Result type Co-authored-by: Tim Beyer <TimBeyer@users.noreply.github.com>
  packages/sdks/javascript/src/lib/types/index.ts
Owners: @maroun9t, @BraunreutherA

feat: refactor experience selection middleware types for clarity and structure, enhancing type safety and middleware creation logic Co-authored-by: Tim Beyer <TimBeyer@users.noreply.github.com>
  packages/sdks/javascript/src/lib/experience/makeExperienceSelectMiddleware.ts
Owners: @maroun9t, @BraunreutherA

feat: refactor decodeExperienceVariantsMap for improved clarity and performance, streamlining the mapping of experience variants Co-authored-by: Tim Beyer <TimBeyer@users.noreply.github.com>
  packages/sdks/javascript/src/lib/experience/decodeExperienceVariantsMap.ts
Owners: @maroun9t, @BraunreutherA

feat: refactor error handling in Ninetailed class methods for consistency and improved readability, centralizing error management logic Co-authored-by: Tim Beyer <TimBeyer@users.noreply.github.com>
  packages/sdks/javascript/src/lib/Ninetailed.ts
Owners: @maroun9t, @BraunreutherA

feat: update OnChangeEmitter for cleaner listener management, refactor Ninetailed plugin to enhance variant selection logic and readability
  packages/plugins/analytics/src/lib/NinetailedPlugin.ts
  packages/plugins/preview/NOTES.md
  packages/plugins/preview/src/lib/plugin/NinetailedPreviewPlugin.ts
  packages/sdks/javascript/src/lib/Ninetailed.ts
  packages/sdks/javascript/src/lib/types/index.ts
  packages/sdks/javascript/src/lib/utils/OnChangeEmitter.ts
Owners: @BraunreutherA, @maroun9t

fix: restore loading state boolean on profile hook
  packages/playgrounds/easy-hr/components/HubspotForm/HubspotForm.tsx
  packages/sdks/react/src/lib/MergeTag/MergeTag.spec.tsx
  packages/sdks/react/src/lib/MergeTag/MergeTag.tsx
  packages/sdks/react/src/lib/useProfile.ts
Owners: @BraunreutherA, @maroun9t

refactor: remove duplicate code
  packages/sdks/react/src/lib/useProfile.ts
Owners: @maroun9t, @BraunreutherA

refactor: reuse type
  packages/sdks/react/src/lib/useProfile.ts
Owners: @maroun9t, @BraunreutherA

chore: remove redundant comments
  packages/sdks/react/src/lib/useProfile.ts
Owners: @maroun9t, @BraunreutherA
